<div id="conteudo">
    <div class="d-flex align-items-center mb-4">
        <img width="30" src="assets/icons/logo.svg" />
        <p class="title mb-0 mx-3">TWIT</p>
    </div>
    <ul>
        <li (mouseenter)="toggleFeedIcon('over')" (mouseleave)="toggleFeedIcon('notOver')" (click)="navigateToHome()">
            <div class = 'IconeTexto'>
                <img [src]="imgFeed" width="20" >
                <span class="texto-do-meio">Feed</span>
            </div>
            <div class = 'QuantNotif'>
                <span>9</span>
            </div> 
        </li>
        <li (mouseenter)="toggleUserIcon('over')" (mouseleave)="toggleUserIcon('notOver')" (click)="navigateToProfile()">
            <div class = 'IconeTexto'>
                <img [src]="imgUser" width="20">
                <span class="texto-do-meio">Perfil</span>
            </div>
            <div class = 'QuantNotif'>
                <span>20+</span>
            </div>
        </li>
    </ul>
</div>
