<div id="conteudo">
    <header>
        <p>Twitt</p>
        <img src = "../../assets/dots.svg" alt="options" id="dots" />
    </header>
    <ul>
        <li>
            <div class = 'IconeTexto'>
                <img src = "../../assets/icons/feed.svg">
                <span class="texto-do-meio">Feed</span>
            </div>
            <div class = 'QuantNotif'>
                <span>9</span>
            </div> 
        </li>
        <li>
            <div class = 'IconeTexto'>
                <img src = "../../assets/icons/perfil.svg">
                <span class="texto-do-meio">Perfil</span>
            </div>
            <div class = 'QuantNotif'>
                <span>20+</span>
            </div>
        </li>
    </ul>
</div>
