<div class="wrapper">
    <div class="row d-flex- justify-content-center">
      <div class="col-12 col-md-6 col-xl-4">
        <div class="login-box py-3">
          <div class="d-flex justify-content-center pt-3">
            <img src="assets/icons/logo.svg" width="80"/>
          </div>
          <img id="return" src="assets/left-arrow.svg" (click)="return()" width="20" height="20"/>
          <div class="text-center">
            <h2><strong>TWIT</strong></h2>
          </div>
          <div class="d-flex justify-content-center aling-items-center flex-column px-5">
            <div class="my-1 w-100">
                <p class="label">Nome</p>
                <input class="input-login" type="text" [(ngModel)]='person.name' />
              </div>
              <div class="my-1 w-100">
                <p class="label">E-mail</p>
                <input class="input-login" type="text" [(ngModel)]='person.email' />
              </div>
              <div class="my-1 w-100">
                <p class="label">Data Nascimento</p>
                <div class="control-section">
                  <div id="control_wrapper">
                    <div id="container" style="overflow:auto">
                      <ejs-datepicker [value]='person.birthday' [cssClass] ='cssDate' [showTodayButton]="false" [(ngModel)]="person.birthday"></ejs-datepicker>
                    </div>
                  </div>
                </div>
              </div>
            <div class="my-1 w-100">
              <p class="label">Usuário</p>
              <input class="input-login" type="text" [(ngModel)]='person.username'/>
            </div>
            <div class="my-1 mb-4 input-wrapper">
              <p class="label">Senha</p>
              <input class="input-login" [type]="passwordInputType" [(ngModel)]='person.password' />
              <img [src]="passwordEyeImg" (click)="showOrHidePassword()" width="20" id="eye-icon"/>
               <p class="password-rules">
                • A senha deve possuir pelo menos uma letra.<br>
                • A senha deve possuir pelo menos um número.
              </p>
            </div>
            <div class="mb-3">
              <button (click)="create()" class="button-login">CADASTRAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  