.wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #08a0e9;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.17);
  position: absolute;
  top:0;
  width: 100%;
}

.title {
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.menu-dropdown {
  position: relative;
}

.list-dropdown {
  position: absolute;
  width: 200px;
  background-color: white;
  right: 0;
  border-radius: 6px;
  z-index: 99;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 17%);
}

.menu-icon, .homeLink{
  cursor: pointer;
}

.log-out {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#logout-div {
  display: flex;
  align-items: center;
  color: white;
}

#logout-div span {
  font-size: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  #logout-icon {
    display: none;
  }

  div#logout-div span {
    margin-right: 50px;
  }
}