<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="row px-5 mt-5">
    <div class="col-12 col-lg-3 my-0 my-lg-5">
      <app-menu class="d-none d-lg-block"></app-menu>
    </div>
    <div class="col-12 col-lg-6 my-3 my-lg-5">
      <div class="col-12 d-flex mb-3" id="search">
        <input type="text" name="search" [(ngModel)]="searchText"  placeholder="Buscar" />
        <img src="../../assets/icons/search.svg" (click)="search()" width="25"/>
      </div>
      <app-create-twit [updatePosts]="updatePosts"></app-create-twit>
      <app-post [posts]='posts' [updatePosts]="updatePosts"></app-post>
    </div>
    <div class="col-12 col-lg-3 my-0 my-lg-5">
      <app-friends></app-friends>
    </div>
  </div>
</div>