* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  background-color: #e8f5fd;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.profile-image {
  border-radius: 50%;
  border: 3px solid #08a0e9;
}

.profile-card {
  border-radius: 6px;
  background-color: white;
  width: 100%;
  min-height: 150px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.17);
}

.profile-name {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.bio {
  font-size: 12px;
  font-weight: 600;
  color: #616161;
  margin: 0;
}
img {
  object-fit: cover;
}
.h1sem_post {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding-left: 35%;
  }
  .sem_post {
    border-radius: 5px;
    border: 2px solid #1b86f9;
    background-color:rgb(186, 221, 245);
    font-size: 110%;
    width: 50%;
    text-align: center;
    padding: 5px;
  } 

button#not-following {
  border-radius: 10px;
  width: 20%;
  border: 1px solid #1b86f9;
  background: transparent;
  color: #1b86f9;
}

button#following {
  border-radius: 10px;
  width: 20%;
  border: 1px solid #1b86f9;
  background-color: #1b86f9;
  color: #FFF;
}

div#user-wrapper {
  border-radius: 6px;
  background-color: white;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.17);
  padding-top: 20px;
  padding-bottom: 20px;
}