<div class="post" *ngFor="let post of posts; let i = index">
  <header>
    <section class="avatar">
      <figure>
        <img src="assets/Imagem_padrão_usuario.png" alt="post photo" />
      </figure>
      <div class="column">
        <p>
          <strong style="color: black">{{ post.username }}</strong> shared a
          <strong>post</strong>
        </p>
        <span>6 hours ago</span>
      </div>
    </section>
    <img src="../../assets/dots.svg" alt="options" id="dots" />
  </header>

  <section class="text">
    {{ post.content }}
  </section>

  <section id="photo">
    <div id="actions">
      <div (click)="updateLikeCount(i)">
        <img
          src="../../assets/blue-heart.svg"
          alt="curtir"
          *ngIf="post.count_likes === 0"
        />
        <img
          src="../../assets/liked.svg"
          alt="curtir"
          *ngIf="post.count_likes >= 1"
        />
        <span>{{ post.count_likes }}</span>
      </div>
      <div>
        <img src="../../assets/comments.svg" alt="comentários" />
        <span>20</span>
      </div>
      <div>
        <img src="../../assets/retwitt.svg" alt="retwitts" />
        <span> {{ post.count_retwiit }} </span>
      </div>
    </div>
    <section id="comment">
      <figure>
        <img src="../../assets/Imagem_padrão_usuario.png" alt="post photo" />
      </figure>
      <input
        type="text"
        name="comment"
        placeholder="Escrever um comentário..."
      />
      <button>
        <img src="../../assets/send.svg" alt="enviar comentário" />
      </button>
    </section>
  </section>
</div>
