<div class="post" *ngFor="let post of posts; let i = index">
  <header>
    <section class="avatar">
      <figure>
        <img src="{{ post.avatar }}" alt="post photo" />
      </figure>
      <div class="column">
        <p>
          {{ post.user || "" }} shared a
          <strong>{{ post.image ? "album" : "post" }}</strong>
        </p>
        <span>6 hours ago</span>
      </div>
    </section>
    <img src="../../assets/dots.svg" alt="options" id="dots" />
  </header>

  <section class="text">
    {{ post.text }}
  </section>

  <section id="photo">
    <figure id="post-photo" *ngIf="post.image">
      <img src="../../assets/post-photo.png" alt="foto do post" />
    </figure>
    <div id="actions">
      <div (click)="updateLikeCount(i)">
        <img
          src="../../assets/blue-heart.svg"
          alt="curtir"
          *ngIf="post.likesCount === 0"
        />
        <img
          src="../../assets/liked.svg"
          alt="curtir"
          *ngIf="post.likesCount === 1"
        />
        <span>{{ post.likesCount }}</span>
      </div>
      <div>
        <img src="../../assets/comments.svg" alt="comentários" />
        <span>20</span>
      </div>
      <div>
        <img src="../../assets/retwitt.svg" alt="retwitts" />
        <span>13</span>
      </div>
    </div>
    <section id="comment">
      <figure>
        <img src="../../assets/girl.png" alt="post photo" />
      </figure>
      <input
        type="text"
        name="comment"
        placeholder="Escrever um comentário..."
      />
      <button>
        <img src="../../assets/send.svg" alt="enviar comentário" />
      </button>
    </section>
  </section>
</div>
