<div id="componente">
    <h2>Lista de amigos</h2>

    <ul>
        <li>
            <img src="../../assets/boy.png">
            <div>
            <span>Pedro Fabriciano</span>
            <h5>Ok</h5>
        </div>
        </li>
        <li>
            <img src="../../assets/boy.png">
            <div>
            <span>Daniel Oliveira</span>
            <h5>Bom dia, tudo bem?</h5>
        </div>
        </li>
        <li>
            <img src="../../assets/boy.png">
            <div>
            <span>Julio Silva</span>
            <h5>Você vai me responder qu..</h5>
        </div>
        </li>
        <li>
            <img src="../../assets/boy.png">
            <div>
            <span>henrique Almeida</span>
            <h5>Pode ser amanhã as 8h?</h5>
        </div>
        </li>
    </ul>
</div>
