<div id="componente">
  <div class="titulo-amigos"><h2>Lista de amigos</h2></div>

  <ul class="px-3 py-3">
    <div id="search">
      <input type="text" name="search" placeholder="Pesquisar um amigo" />
    </div>
    <li *ngFor="let amigo of amigos; let i = index">
      <section class="avatar">
        <figure>
          <img src="{{ amigos[i].foto }}" alt="post photo" />
        </figure>
        <div class="column">
          <p>
            {{ amigos[i].nome }}
          </p>
          <span>{{ amigos[i].msg || "" }}</span>
        </div>
      </section>
    </li>
  </ul>
</div>
