<div class="wrapper">
  <div class="row d-flex- justify-content-center">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="login-box py-3">
        <div class="d-flex justify-content-center pt-3">
          <img src="assets/icons/logo.svg" width="80"/>
        </div>
        <div class="text-center">
          <h2><strong>TWIT</strong></h2>
        </div>
        <div class="d-flex justify-content-center aling-items-center flex-column px-5">
          <div class="my-3 w-100">
            <p class="label">Usuário</p>
            <input class="input-login" type="text"/>
          </div>
          <div class="mb-4">
            <p class="label">Senha</p>
            <input class="input-login" type="password"/>
          </div>
          <div class="mb-3">
            <button (click)="login()" class="button-login">ENTRAR</button>
            <div class="criar_conta">
              <a href="">Não possui uma conta? Crie uma agora mesmo! </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
