@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #c8d5e2;
    border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover{
    background: #c8d5e2;
    cursor: pointer;
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 4px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}


.submit-btn {
    color: white;
    background-color: #08a0e9;
    border: none;
    height: 34px;
    width: 100px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }
  
  .submit-btn:disabled {
    background-color: #70ccf6;
    border: 2px solid #08a0e9;
    cursor: initial;
  }