* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  resize: none;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  min-height: 50px;
  outline: none;
  color: #202841;
  padding: 15px;
  font-size: 16px;
  border: none;
}

.text-box {
  background-color: white;
  min-height: 150px;
  border-radius: 6px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 15px;
}

.submit-btn {
  color: white;
  background-color: #08a0e9;
  border: none;
  height: 34px;
  width: 100px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
}

#length {
  color: #08a0e9;
  font-size: 16px;
  font-weight: bold;
}
