textarea {
  resize: none;

  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  min-height: 100px;

  border-radius: 10px;
  border: 1px solid #cecece;
  outline: none;

  color: #202841;
  /*horizontal vertical blur-radius spread-radius*/
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.17);

  padding: 15px;
  font-size: 20px;
}

.text-box {
  background-color: white;
  margin: 20px 0;
  /* padding: 20px 20px 20px 20px; */
  min-height: 150px;
  border-radius: 6px;
}

.submit-btn {
  color: white;
  background-color: #08a0e9;
  border: none;
  height: 34px;
  width: 100px;
  border-radius: 6px;
}

#length {
  float: right;
  color: #08a0e9;
  font-size: 20px;
  font-weight: bold;
}
