textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
}

.text-box {
  background-color: white;
  padding: 20px 20px 20px 20px;
  min-height: 150px;
  border-radius: 6px;
}

.submit-btn {
  color: white;
  background-color: #08a0e9;
  border: none;
  height: 34px;
  width: 100px;
  border-radius: 6px;
}
